%nav.clearfix.nav
  .row.align-middle.small-unstack
    .columns
      %h4
        = link_to t('app.title'), root_path, class: 'logo'
    .columns
      %ul.menu.align-right
        - if current_player
          %li
            = link_to 'Sign out', sign_out_path, method: :delete, class: 'strong button secondary hollow'
        - else
          %li
            = link_to '/auth/slack', class: 'strong button secondary hollow' do
              = fa_icon 'slack', text: 'Sign in using Slack'