%nav.clearfix.nav
  .row.align-middle.small-unstack
    .columns
      %h4
        = link_to t('app.title'), root_path, class: 'logo'
    .columns
      %ul.menu.align-right
        %li= link_to 'Stats', stats_path, class: 'strong'
        %li= link_to 'Suggestions?', 'https://github.com/boost/bounce/issues/new', class: 'strong', target: '_blank'
