.row.medium-unstack
  .columns.medium-4
    %h5 Players
    %ul.red-corner.no-bullet
      = render partial: 'players/player', collection: @players
  .columns
    .tennis-table
      .tennis-table__red
      .tennis-table__blue
    