.row.medium-unstack
  .columns.medium-2
    .players#team-a-players
      %h5 Winning Players
      %ul.no-bullet
        = render partial: 'players/player', collection: @players
  .columns
    = form_for @game do |f|
      .tennis-table
        .row.medium-unstack
          .columns.align-self-middle
            .tennis-table__side#tennis-table-side-a
              %h4 Winning Team

          .columns.align-self-middle
            .tennis-table__side#tennis-table-side-b
              %h4 Losing Team

        .row
          .column
            .tennis-table__action.text-center
              = submit_tag 'Submit match', class: 'button large'
              
  .columns.medium-2
    .players#team-b-players
      %h5 Losing Players
      %ul.no-bullet
        = render partial: 'players/player', collection: @players