- path = add_winner_games_path(player)
- path = add_loser_games_path(player) unless winner

%li
  = link_to path, remote: true, method: :post do
    = image_tag "#{player.first_name.downcase}"
    %span= player.first_name