@font-face {
  font-family: 'ProximaNova-Regular';
  src: font-url('proxima-nova/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: font-url('proxima-nova/ProximaNova-Bold.otf');
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: font-url('proxima-nova/ProximaNova-Light.otf');
}