.player-card {
  margin-bottom: 1rem;
  border: 1px solid $gallery;

  p {
    margin: 0;
  }

  img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }

  button {
    margin-bottom: 0;
    margin-top: .5rem;
    display: block;

    &:first-of-type {
      margin-top: 0;
    }

    @extend .expanded;
  }

  @include element('info') {
    text-align: left;
  }

  @include element('stats') {
    text-align: left;
    font-size: .9rem;
    color: $mine-shaft;
  }

  @include element('actions') {
    padding: 1rem;
  }
}